*.dump
*.map
*.o
*.hex
*.hex1
*.i
*.elf
*.lst
*.pdf
Slave-Modules/Hardware/Slave_PCB/Slave_PCB_V1/Project Outputs for Slave_PCB_V1/Design Rule Check - Slave_PCB.drc
Slave-Modules/Hardware/Slave_PCB/Slave_PCB_V1/Project Outputs for Slave_PCB_V1/Design Rule Check - Slave_PCB.html
Slave-Modules/Hardware/Slave_PCB/Slave_PCB_V1/Project Outputs for Slave_PCB_V1/Design Rule Check - Slave_PCB.drc
Software/ADC/.vscode/c_cpp_properties.json
Software/One_Wire_COMM/.vscode/c_cpp_properties.json
Software/Manchester/.vscode/c_cpp_properties.json
Software/Timing/.vscode/c_cpp_properties.json
Software/Modules/.vscode/c_cpp_properties.json
